.usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    max-width: 100%;
    overflow-x: hidden;
}


legend {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

th,
td {
    text-align: center;
}

button {
    width: 7vw;
    height: 5vh;
    background-color: rgb(179, 212, 255);
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}

button:hover{
    background-color: rgb(47, 186, 255);
}


.estado-activo {
    color: rgb(0, 255, 8);
    padding: 5px 10px;
    border-radius: 5px;
}

.estado-suspendido {
    color: rgb(255, 17, 0);
    padding: 5px 10px;
    border-radius: 5px;
}

.boton-reactivar {
    background-color: #28a745; /* verde */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.boton-suspender {
    background-color: #dc3545; /* rojo */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

