.usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    max-width: 100%;
    overflow-x: hidden;
}


legend {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

th,
td {
    text-align: center;
}

button {
    width: 6vw;
    height: 4vh;
    background-color: greenyellow;
}

button:hover{
    background-color: rgb(10, 209, 53);
}