* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    border: 2px solid black;
    border-radius: 5px; /* Opcional: bordes redondeados */
}
header {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(to right, rgb(10, 209, 53), #0f750f);
}

header a{
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav .logo, nav .login {
    flex: 1;
}

nav .menu {
    flex: 2;
    display: flex;
    justify-content: center;
    list-style: none;
}

nav .menu li {
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}

nav .menu li ul {
    display: none;
    list-style: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav .menu li:hover ul {
    display: block;
}

nav .menu li{
    background-color: rgb(10, 209, 53);
} 

nav .menu li > ul > li:hover{
    background-color: rgb(29, 126, 50);
} 

main {
    padding-top: 80px;
    text-align: center;
}

section {
    margin: 40px 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

p{
    white-space: pre-line;    
}

footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
}

footer .contact {
    background: linear-gradient(to left, red, orange);
    color: white;
    padding: 10px;
}

footer .legal a {
    display: block;
    margin: 5px 0;
    color: gray;
}

footer .social-icons span {
    margin: 0 5px;
    cursor: pointer;
}










